*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color:#1A1A1A;
}

body, input, textarea, button{
    font-family: 'Inter', sans-serif;
}

.layout{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
